.body {
	flex: 0.8;
	min-height: 100vh;
	background: #171717;
	color: #fff;
	padding: 15px;
	margin-bottom: 30px;
}

.banner img {
	width: 100%;
	height: auto;
	opacity: 0.6;
}

.bodyList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px 10px;
}

.listTitle {
	margin: 10px;
}

.song_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 150px;
	height: 220px;
	margin: 10px;
	background: #252727b6;
	border-radius: 15px;
	padding: 10px;
	transition: 200ms ease-in all;
}

.song_container:hover {
	opacity: 0.7;
}

.song_img {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

.song_img > svg {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 40px;
	color: #ee4950;
	min-width: 40px;
	margin: 10px;
}

.song_img > svg:hover {
	color: #fff;
}

.song_title {
	font-weight: 400;
	color: gray;
}

.song_footer > svg:hover {
	color: #fff;
}

@media screen and (max-width: 730px) {
	.banner {
		display: block;
		height: auto;
	}

	.banner img {
		display: none;
	}

	.song_container {
		width: 120px;
		height: 200px;
	}

	.song_img {
		width: 120px;
		height: 130px;
	}
}
