.sidebar_container {
	flex: 0.2;
	padding-left: 10px;
	padding-right: 10px;
	width: 230px;
	background: #272727;
	color: #fff;
	transition: all 0.3 ease;
}

.sidebar {
	position: fixed;
}

.sidebar > hr {
	border: 1px solid #3f3d3d;
	width: 90%;
	margin: 10px auto;
}

.sidebar_logo {
	padding: 15px 0;
	cursor: pointer;
}

.sidebarTitle {
	margin-left: 10px;
	padding: 5px;
	font-size: 20px;
}

.hambourger_menu {
	display: none;
}

.account {
	position: fixed;
	bottom: 30px;
	z-index: 3;
}

@media only screen and (max-width: 915px) {
	.sidebar_container {
		background: #272727;
		width: auto;
	}

	.sidebar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		background: #272727;
	}

	.sidebarTitle,
	hr,
	.playlist_list {
		display: none;
	}
}

@media only screen and (max-width: 915px) {
	.hambourger_menu {
		display: block;
		padding: 10px 0;
		text-align: center;
		cursor: pointer;
	}
}
